# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Pytest
.pytest_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

.ipynb_checkpoints/

